{% extends 'base.html' %}

{%block content%}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="col-md-4 margin">
        
        <img src='{{poster}}' alt = '{{ name }}' class = 'img-thumbnail' >
        <p><a class="btn btn-default margin" href="#" role="button">View details &raquo;</a></p>
      </div>
    <div class="container">
      <h1 class="title">{{name}}</h1>
      <div class="row">
          <div class="col-sm inline">
            <img class="imdbicon" src="../static/img/imdb.png" alt="imdb icon">
          </div>
          <div class="col-sm inline">
            <p class = "text-center text-red">{{score}}</p>
          </div>
          <div class="col-sm inline">
            <img class="imdbicon" src="../static/img/rottentomatoes.png" alt="imdb icon">
          </div>
          <div class="col-sm inline">
            <p class = "text-center text-red">{{rotten_score}}</p>
          </div>
          <h2>Synopsis</h2>
          <blockquote class="blockquote text-left">{{ synopsis }}</blockquote>
      </div>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Staring:</h2><!-- itereate actors list and prin one actor at time-->
        {% for actor in actors %}
        <p>{{ actor }}</p>
        {% endfor %}
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Trailer: </h2>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe src="https://www.imdb.com/videoembed/vi1315682329" allowfullscreen></iframe>
        </div>
        <p><a class="btn btn-default margin" href="#" role="button">View details &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Poster:</h2>
        <img src='{{poster}}' alt = '{{ name }}' class = 'img-thumbnail' >
        <p><a class="btn btn-default margin" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; 2016 Company, Inc.</p>
    </footer>
  </div> <!-- /container -->


  

{% endblock content%}
